/* Index Page */
h1 {
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

li {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
}

h2 {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

p {
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}








